doctype html

html
  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css")
    link(rel="stylesheet", href="styles.css")
    title= Scheduler
  body
    .hero.is-dark
      .container
        .hero-body
          h1.title KIPP Student Schedule
          h2.subtitle Hourly overview
    .section
      table.table
        thead
          tr
            th Day
            th Scheduled Students
        tbody
          if timeslots 
            each val in timeslots 
              tr
                td= val.day
                - var studentRow = '';
                each student in val.scheduledStudents
                  if student
                    - studentRow += student.name + ', '
                - studentRow = studentRow.trim().substr(0, studentRow.length - 2)
                td= studentRow


